<!DOCTYPE html>
<html>
<head>
<title>Line Chart</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
  
 <table>
 <tr>

  <td><canvas id="myChart" width="400" height="350"></canvas></td>

  <td><canvas id="myChart1" width="400" height="350"></canvas></td>

</tr>
<tr> 

 <td><canvas id="myChart2" width="400" height="350"></canvas></td>
  <td><canvas id="myChart3" width="400" height="350"></canvas></td>
  </tr>
</table> 
</div>  
<script>
    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("myChart").getContext("2d");
    var ctx1 = document.getElementById("myChart1").getContext("2d");
    var ctx2 = document.getElementById("myChart2").getContext("2d");
    var ctx3 = document.getElementById("myChart3").getContext("2d");
    var options = {
        responsive: true,
        maintainAspectRatio: true
    };
    var time = {{time|safe}};
    var soilTemp = {{soilTemp|safe}};
    var humidity = {{humidity|safe}};
    var airTemp = {{airTemp|safe}};
    var moisture = {{moisture|safe}};
   
    

    var data = {
        labels: time,
        datasets: [
            {
              label: "SoilTemp",
              fill: false,
              lineTension: 0.1,
              backgroundColor: "rgba(75,192,192,0.4)",
              borderColor: "rgba(75,192,192,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: soilTemp,
              spanGaps: false,
            }
        ]
     };
    var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
    });

        var data1 = {
        labels: time,
        datasets: [
            {
              label: "humidity",
              fill: false,
              lineTension: 0.1,
              backgroundColor: "rgba(255,99,132,0.4)",
              borderColor: "rgba(255,99,132,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(255,99,132,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(255,99,132,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: humidity,
              spanGaps: false,
            }
        ]
     };
    var myChart1 = new Chart(ctx1, {
      type: 'line',
      data: data1,
      options: options
    });

      var data2 = {
        labels: time,
        datasets: [
            {
              label: "AirTemp",
              fill: false,
              lineTension: 0.1,
              backgroundColor: "rgba(255,206,86,0.4)",
              borderColor: "rgba(255,206,86,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(255,206,86,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(255,206,86,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: airTemp,
              spanGaps: false,
            }
        ]
     };
    var myChart2 = new Chart(ctx2, {
      type: 'line',
      data: data2,
      options: options
    });

       var data3 = {
        labels: time,
        datasets: [
            {
              label: "moisture",
              fill: false,
              lineTension: 0.1,
              backgroundColor: "rgba(54,162,235,0.4)",
              borderColor: "rgba(54,162,235,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(54,162,235,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(54,162,235,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: moisture,
              spanGaps: false,
            }
        ]
     };
    var myChart3 = new Chart(ctx3, {
      type: 'line',
      data: data3,
      options: options
    });
  </script>
</body>
</html>
